@import "tailwindcss";

/* * 1. Include the main daisyUI plugin. 
 * We set 'themes: false' to prevent loading all built-in themes 
 * since we are defining a single custom theme right below it.
 */
@plugin "daisyui" {
  themes: false;
}

/*
 * 2. Define the custom 'night' theme using the configuration you provided.
 */
@plugin "daisyui/theme" {
  name: "night";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(55% 0.046 257.417);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(79% 0.184 86.047);
  --color-accent-content: oklch(98% 0.026 102.212);
  --color-neutral: oklch(44% 0.03 256.802);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);
  --radius-selector: 1rem;
  --radius-field: 0rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.text-gradient-accent {
  color: transparent;
  background-image: linear-gradient(90deg,
      #8C5BF6,
      #492b88
    );
  -webkit-background-clip: text;
  background-clip: text;
}